<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=scale=1.0">
        <title>HHH Polls</title>
        <meta name="description" content="Polling Application for the community at www.reddit.com/r/hiphopheads"/>
        <link rel="stylesheet" href="{% static 'dist/css/bundle.css' %}"/>
    </head>
    <body>
        <div id="app"></div>
        <script src="{% static 'dist/js/bundle.js' %}"></script>     
    </body>
</html>